
h1{
    text-align: center;
}

h3{
    text-align: center;
}
a{
    text-decoration: none;
    color: black;
}
.thumb img {
    filter: none; /* IE6-9 */
    -webkit-filter: grayscale(0);
    border-radius:5px;
    background-color: #fff;
    border: 1px solid #ddd;
    padding:5px;
}
.thumb img:hover {
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1);
}
.thumb {
    padding:5px;
}
.restoran_info {
    padding: 10px;
    float: left;
    height: auto;
    width: 55%;
}
footer {
    background-color: #555;
    color: white;
    padding: 15px;
}
.navbar {
    margin-bottom: 0;
    border-radius: 20px;
}

.sidenav {
    height: auto;
    padding: 15px;
}

.row.content {
    height: auto;
}

